#Gradle stuff
.gradle/
gradle/
gradlew
gradlew.bat

#IntelliJ stuff
.idea/
*.iml
*.ipr
*.iws

#Build stuff
build/

#Minecraft stuff
minecraft/
logs/

#lets keep our secrets safe
conf/private.properties
conf/hash
changelog